body { 
    font-family: Arial, sans-serif; 
    margin: 0; 
    background: #F4F9FF;
}

header {
    background: #1A8CFF;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 20px;
}

button {
    width: 90%;
    padding: 15px;
    margin: 10px auto;
    display: block;
    background: #1A8CFF;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 8px;
}
